<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<!-- If error display in <p> here -->
		<h2>Email Addresses Entered</h2>
		{% if messages %}
			{% for message in messages %}
				<h2>{{message}}</h2>
			{% endfor %}
		{% endif %}
		<ul>
			{% for email in emails %}
				<li>{{email.email}} {{email.created_at}}</li>
				<form class="buttons" action="success/delete/{{email.id}}" method="post">
					{% csrf_token %}
					<input type="submit" name="delete" value="Delete Email">
				</form>
			{% endfor %}
		</ul>
		<form class="buttons" action="{% url 'email_validate:email_index' %}" method="get">
			<input type="submit" name="back" value="Go Back">
		</form>
		<form class="back" action="{% url 'login_reg:login_reg_success' %}" method="post">
			{% csrf_token %}
			<input type="submit" name="submit" value="Back to Homepage">
		</form>
	</body>
</html>
